<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">Onze klanten</h3>				
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/logos/drop-logo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/logos/zeezout-logo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/logos/stip-logo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/logos/tudelft-logo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/logos/sciencecentre-logo.jpeg" class="img-responsive img-centered" alt="">
                    </a>										
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/logos/robotics-logo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>